In [1]:
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn import metrics
import numpy as np
import pandas as pd

In [2]:
IL_Black_Businesses_Initial_Capital = pd.read_csv("/Users/rachelhawkins/Desktop/Data-Science-Program/DS110-Final Project/Illinois/IL Black Businesses Initial Capital.csv")

In [3]:
IL_Black_Businesses_Initial_Capital.head()

             Field  Count Percentage
0     Under $1,000     74     10.90%
1    $1,000-$4,999    162     23.86%
2    $5,000-$9,999    106     15.61%
3  $10,000-$19,999    119     17.53%
4  $20,000-$49,999     94     13.84%

In [4]:
IL_Black_Businesses_Initial_Capital.rename(columns={'Field':'Amount'}, inplace=True)

In [5]:
IL_Black_Businesses_Initial_Capital.head()

            Amount  Count Percentage
0     Under $1,000     74     10.90%
1    $1,000-$4,999    162     23.86%
2    $5,000-$9,999    106     15.61%
3  $10,000-$19,999    119     17.53%
4  $20,000-$49,999     94     13.84%