In [1]:
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn import metrics
import numpy as np
import pandas as pd

In [2]:
IL_Black_Businesses_Years_in_Operation = pd.read_csv("/Users/rachelhawkins/Desktop/Data-Science-Program/DS110-Final Project/Illinois/IL Black Businesses Years in Operation.csv")

In [3]:
IL_Black_Businesses_Years_in_Operation.head()

    Unnamed: 0 Unnamed: 1
0     - 1 year     10.62%
1    1-2 years     20.80%
2    3-4 years     17.70%
3    5-9 years     20.06%
4  10-14 years     10.03%

In [4]:
IL_Black_Businesses_Years_in_Operation.rename(columns={'Unnamed: 0':'Status'}, inplace=True)

In [5]:
IL_Black_Businesses_Years_in_Operation.rename(columns={'Unnamed: 1':'Percentage'}, inplace=True)

In [6]:
IL_Black_Businesses_Years_in_Operation.head()

        Status Percentage
0     - 1 year     10.62%
1    1-2 years     20.80%
2    3-4 years     17.70%
3    5-9 years     20.06%
4  10-14 years     10.03%