In [1]:
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn import metrics
import numpy as np
import pandas as pd

In [4]:
IL_Black_Businesses_Annual_Revenue_Impact_By_COVID_19_Pandemic_Since_2020 = pd.read_csv("/Users/rachelhawkins/Desktop/Data-Science-Program/DS110-Final Project/Illinois/IL Black Businesses Annual Revenue Impact by COVID-19 Pandemic since 2020.csv")

In [5]:
IL_Black_Businesses_Annual_Revenue_Impact_By_COVID_19_Pandemic_Since_2020.head()

                 Unnamed: 0 Unnamed: 1
0     Over $50,000 decrease     18.27%
1  $24,999-$50,000 decrease     11.30%
2  $10,000-$24,999 decrease     18.77%
3          $10,000 decrease     18.44%
4                 No impact     17.44%

In [6]:
IL_Black_Businesses_Annual_Revenue_Impact_By_COVID_19_Pandemic_Since_2020.rename(columns={'Unnamed: 0':'Status'}, inplace=True)

In [7]:
IL_Black_Businesses_Annual_Revenue_Impact_By_COVID_19_Pandemic_Since_2020.rename(columns={'Unnamed: 1':'Percentage'}, inplace=True)

In [8]:
IL_Black_Businesses_Annual_Revenue_Impact_By_COVID_19_Pandemic_Since_2020.head()

                     Status Percentage
0     Over $50,000 decrease     18.27%
1  $24,999-$50,000 decrease     11.30%
2  $10,000-$24,999 decrease     18.77%
3          $10,000 decrease     18.44%
4                 No impact     17.44%