In [1]:
import seaborn as sns
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
from sklearn import metrics
import numpy as np
import pandas as pd

In [2]:
IL_Black_Business_Start_Up_Information = pd.read_csv("/Users/rachelhawkins/Desktop/Data-Science-Program/DS110-Final Project/IL Black Business Start-Up Information.csv")

In [3]:
IL_Black_Business_Start_Up_Information.head()

                                          Unnamed: 0 Unnamed: 1
0                 I started the business by myself.      81.80%
1      I started the business with a partner(s).
\n     12.13%
2                       I purchased a franchise.
\n      2.22%
3  I purchased the business from a non-family sou...      2.51%
4  I purchased the business from a family member....      0.59%

In [4]:
IL_Black_Business_Start_Up_Information.rename(columns={'Unnamed: 0':'Status'}, inplace=True)

In [5]:
IL_Black_Business_Start_Up_Information.rename(columns={'Unnamed: 1':'Percentage'}, inplace=True)

In [6]:
IL_Black_Business_Start_Up_Information.head()

                                              Status Percentage
0                 I started the business by myself.      81.80%
1      I started the business with a partner(s).
\n     12.13%
2                       I purchased a franchise.
\n      2.22%
3  I purchased the business from a non-family sou...      2.51%
4  I purchased the business from a family member....      0.59%